<!DOCTYPE html>
<html>
<head>
	<title>Our Sponsers</title>
	<link rel="stylesheet" type="text/css" href="WestValleySpartansCSS.css">
</head>
<body>
	<header>
		<h1> West Valley Spartans </h1>
		<div id="navBarDiv">
				<nav id="navBar">
					<ul class="navList">
						<li class="navButtons"><a href="WestValleySpartans.html" class="links">Home</a></li>
						<li class="navButtons"><a href="SpartanSwag.html" class="links">Spartan Swag</a></li>
						<li class="navButtons"><a href="ContactUs.html" class="links">Contact</a></li>
						<li class="navButtons"><a href="Sponsors.html" class="links">Sponsors</a></li>
					</ul>
				</nav>
			</div>
	</header>
	<main>
	<div id="sponsorBlock">
				<h2 class="homeH2">Our Sponsors!</h2>
				<p class="homeText">All of us West Valley Spartans are immensely grateful to all of our Sponsors.  Without your continued support, we could not achieve what we have and continue to aim for our dreams.  You have made it possible for us to provide all our Spartan players with not only learning experience but also memories that will last a lifetime! <br><br>We encourage you to visit our Sponsors' websites linked below for more information about them and their quality businesses and services.<br><br>Are you interested in becoming one of our Sponsors? lease contact us at WestValleySpartans@gmail.com, through any of our social media accounts (Facebook, Instagram, etc.)</p>
				<hr>

				<table >
					<tr>
						<td class="sponsorBoxes"><a href="https://www.qualityblock.com/"><img src="qualityblock_logo.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://littlecaesars.com/"><img src="littleCaesarsLogo.jpg" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="http://www.deserttruss.com/index.html"><img src="DESERTTRRUSSLOGO.jpg" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.rwc.org/"><img src="RWC-Logo-2017.png" class="sponsorImages"></a></td>
					</tr>
					<tr>
						<td class="sponsorBoxes"><a href="http://platinumprintingaz.com"><img src="PLATINUMPRINTINGLOGO.jpg" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://hdsupply.com"><img src="2014-HDSWC_3-Tier_Logo.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://avyre.com"><img src="AVYRELOGOLARGE.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.meritagehomes.com"><img src="MERITAGE-HOMES-logo2.png" class="sponsorImages"></a></td>
					</tr>
					<tr>
						<td class="sponsorBoxes"><a href="https://www.whitecap.com/shop/en/wc/home"><img src="HDS_WhiteCap-logo-3.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://levelframing.com"><img src="LEVELLINE.jpg" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.legalshield.com"><img src="LEGALSHIELDLOGO.jpg" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.smallcakesofsurprise.com"><img src="SMALLCAKESOFSURPRISE.png" class="sponsorImages"></a></td>
					</tr>
					<tr>
						<td class="sponsorBoxes"><a href="https://rushsportsperformance.com"><img src="RUSHLOGO.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="http://www.rosenmaterials.com"><img src="logo-rosen.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.nextlevelapparel.com"><img src="NEXTLEVELLOGO.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="http://www.richiesdiner.com/eclub/index.php"><img src="RichisDiner15609SurpriseAZ.png" class="sponsorImages"></a></td>
					</tr>
					<tr>
						<td class="sponsorBoxes"><a href="http://www.thebluebook.com/iProView/278881/"><img src="TFrgb4.png"  class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="http://nibblerscatering.com"><img src="NIBBLERSCATERINGLOGO.png" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.doubledsperformance.com"><img src="DOUBLED_SPERFORMANCE.jpg" class="sponsorImages"></a></td>

						<td class="sponsorBoxes"><a href="https://www.buffalowildwings.com/en"><img src="Buffalo_Wild_Wings.svg.png" class="sponsorImages"></a></td>
					</tr>

				</table>
				<p class="homeText"><em>A HUGE Thank You to all our sponsors!</em></p>
			</div>
		</main>
		<footer>
		<div id="emailaddress">
			<p>westvalleyspartans@gmail.com</p>
		</div>
		<div id="trademark">
			<p>© 2019 by West Valley Spartans</p>
		</div>
		
		<div id="socialmedia">
			<p>Follow Us!</p>
			<a href="https://www.facebook.com/westvalleyspartans" target="_blank"><img src="facebooklogo.png" id="facebook"></a>
			<a href="https://www.instagram.com/westvalleyspartansaz" target="_blank"><img src="Instagram-Logo.jpg" id="instagram"></a>
		</div>
		</div>
		
	</footer>
</body>
</html>