<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="main.css"> 
    <style> html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <div class="sidenav">
        <a href="dashboard.html">Dashboard</a>
        <a href="suggestionbox.html">Suggestion Box</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="headers">
        Dashboard
    </div>

    </div>

</body>
</html>