<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="../css/main.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        function PromoteUser(userid) {
            var webMethod = "../../ProjectServices.asmx/MakeAdmin";
            var parameters = "{\"userid\":\"" + encodeURI(userid) + "\"}";

            $.ajax({
                type: "POST",
                url: webMethod,
                data: parameters,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg.d);
                    location.reload(true)
                },
                error: function (e) {
                    var response = e.d;
                    alert("this code will only execute if javascript is unable to access the webservice." + response);
                }
            });
        }

        function DeleteUser(userid) {
            var webMethod = "../../ProjectServices.asmx/DeleteUser";
            var parameters = "{\"userid\":\"" + encodeURI(userid) + "\"}";

            $.ajax({
                type: "POST",
                url: webMethod,
                data: parameters,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg.d);
                    location.reload(true)
                },
                error: function (e) {
                    var response = e.d;
                    alert("this code will only execute if javascript is unable to access the webservice." + response);
                }
            });
        }

        function DeletePost(postid) {
            var webMethod = "../../ProjectServices.asmx/DeletePost";
            var parameters = "{\"postid\":\"" + encodeURI(postid) + "\"}";

            $.ajax({
                type: "POST",
                url: webMethod,
                data: parameters,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg.d);
                    location.reload(true)
                },
                error: function (e) {
                    var response = e.d;
                    alert("this code will only execute if javascript is unable to access the webservice." + response);
                }
            });
        }

        function ClearReport(postid) {
            var webMethod = "../../ProjectServices.asmx/ClearReport";
            var parameters = "{\"postid\":\"" + encodeURI(postid) + "\"}";

            $.ajax({
                type: "POST",
                url: webMethod,
                data: parameters,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg.d);
                    location.reload(true)
                },
                error: function (e) {
                    var response = e.d;
                    alert("this code will only execute if javascript is unable to access the webservice." + response);
                }
            });
        }

        function LoadAllUsers(array) {
            for (var i = 0; i < array.length; i++) {
                ShowUser(array[i]);
            }
        }

        function ShowUser(user) {
            var userid = user.userid;
            var username = user.username;
            var isadmin = user.isadmin;

            var table = document.getElementById("users-table");
            var row = table.insertRow(-1);
            row.innerHTML = `<tr>
                            <td>${userid}</td>
                            <td>${username}</td>
                            <td>${isadmin}</td>
                            <td><button class="view-button" onclick="javascript: PromoteUser(${userid});" style="font-size:20px;border-radius:0.25rem;">Promote</button>
                                <button class="delete-button" onclick="javascript: DeleteUser(${userid});" style="font-size:20px;border-radius:0.25rem;">Delete</button></td>
                        </tr>`;
        }

        function LoadAllReports(array) {
            for (var i = 0; i < array.length; i++) {
                ShowReport(array[i]);
            }
        }

        function ShowReport(post) {
            var postid = post.postid;
            var username = post.user;
            var content = post.content;
            var likes = post.likes;

            var table = document.getElementById("reports-table");
            var row = table.insertRow(-1);
            row.innerHTML = `<tr>
                            <td>${username}</td>
                            <td>${content}</td>
                            <td>${likes}</td>
                            <td><button class="view-button" onclick="javascript: ClearReport(${postid});" style="font-size:20px;border-radius:0.25rem;">Clear Report</button>
                                <button class="delete-button" onclick="javascript: DeletePost(${postid});" style="font-size:20px;border-radius:0.25rem;">Delete</button></td>
                        </tr>`;
        }

        window.onload = function () {
            $.ajax({
                type: "POST",
                url: "../../ProjectServices.asmx/GetUsers",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: 'json',

                success: function (data) {
                    LoadAllUsers(data.d);
                }
            });
            $.ajax({
                type: "POST",
                url: "../../ProjectServices.asmx/GetReports",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: 'json',

                success: function (data) {7
                    LoadAllReports(data.d);
                }
            });
        }
    </script>
    <div class="topnav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html">Edit</a></li>
            <div class="login-container">
                <li><a href="login.html">Log out</a></li>
            </div>
        </ul>
    </div>
    <div>
        <table id="users-table" style="width:80%;margin:80px;">
            <caption style="font-size:20pt;"><strong>List of Users</strong></caption>
            <tr>
                <th>Users ID</th>
                <th>Username</th>
                <th>Is Admin?</th>
                <th>Options</th>
            </tr>
        </table>
    </div>
    <div>
            <table id="reports-table" style="width:80%;margin:80px;">
                <caption style="font-size:20pt;"><strong>List of Reported Posts</strong></caption>
                <tr>
                    <th>Posted By</th>
                    <th>Post Contents</th>
                    <th>Likes</th>
                    <th>Options</th>
                </tr>
            </table>
        </div>
    <div class="footer">
        <p>#1 Football Lessons Messaging App &copy;</p>
    </div>
</body>
</html>
