<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="../css/main.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
</head>
<body>
    <div class="topnav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html">Edit</a></li>
            <div class="login-container">
                <li><a href="login.html">Log out</a></li>
            </div>
        </ul>
    </div>
    <div>
        <table id="reported-posts" style="width:80%">
            <tr>
                <th>Reported Posts ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Option</th>
            </tr>
            <tr>
                <td>133</td>
                <td>Smaj88</td>
                <td>smaj88@email.com</td>
                <td><button class="view-button" onclick="javascript: DeletePost();" style="font-size:20px;border-radius:0.25rem;">View</button>
                <button class="delete-button" onclick="javascript: DeletePost();" style="font-size:20px;border-radius:0.25rem;">Delete</button></td>
            </tr>
            <tr>
                <td>78</td>
                <td>Smaj88</td>
                <td>smaj88@email.com</td>
                <td><button class="view-button" onclick="javascript: DeletePost();" style="font-size:20px;border-radius:0.25rem;">View</button>
                <button class="delete-button" onclick="javascript: DeletePost();" style="font-size:20px;border-radius:0.25rem;">Delete</button></td>

            </tr>
            <tr>
                <td>56</td>
                <td>jada2</td>
                <td>jada2@email.com</td>
                <td><button class="view-button" onclick="javascript: DeletePost();" style="font-size:20px;border-radius:0.25rem;">View</button>
                <button class="delete-button" onclick="javascript: DeletePost();" style="font-size:20px;border-radius:0.25rem;">Delete</button></td>

            </tr>
        </table>
    </div>
    <div class="footer">
        <p>#1 Football Lessons Messaging App &copy;</p>
    </div>
</body>
</html>