<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="../css/main.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        function IsAdmin() {
            var webMethod = "../../ProjectServices.asmx/IsAdmin";
            //jQuery ajax method
            $.ajax({
                type: "POST",
                url: webMethod,
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.d == 1) {
                        document.getElementById("edit").style.visibility = "visible";
                    }
                },
                error: function (e) {
                    var response = e.d;
                    alert("this code will only execute if javascript is unable to access the webservice." + response);
                }
            });
        }

        function LogOff() {
            var webMethod = "../../ProjectServices.asmx/LogOff";
            $.ajax({
                type: "POST",
                url: webMethod,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.d) {
                        //we logged off, so go back to logon page,
                        //stop checking messages
                        //and clear the chat panel
                        window.location.replace("login.html");
                        alert("Succesfully Logged Out"); 
                    }
                    else {
                        alert("Failed to log out"); 
                    }
                },
                error: function (e) {
                    alert("boo...");
                }
            });
        }

        window.onload = function () {
            IsAdmin();
        }
    </script>
    <div class="topnav">
        <ul>
            <li><a href="home.html" >Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html" style="visibility: hidden" id="edit">Edit</a></li>
            <div class="login-container">
            <li><a href="#" onclick="LogOff()">Logout</a></li>
            </div>
        </ul>
    </div>
    <div class="container">
    <h1 style="margin-top:50px;">Welcome to our messaging site!</h1>
    <p>As a team, we value everyone's opinions and ideas.</p><p> We highly encourage everyone to contribute and share their opinions.
        </p><p>It is a way of improving our team :)</p><img src="picture1.png" style="width:500px;">
    </div>
    <div class="footer">
        <p>I Love Football Corporations &copy;</p>
    </div>
</body>
</html>
