<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="../css/main.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

</head>
<body>
    <div class="topnav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html">Edit</a></li>
            <div class="login-container">
            <li><a href="login.html">Log out</a></li>
            </div>
        </ul>
    </div>
    <div class="footer">
        <p>I Love Football Corporations &copy;</p>
    </div>
</body>
</html>