<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="../css/main.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        function LogOff() {
            var webMethod = "../../ProjectServices.asmx/LogOff";
            $.ajax({
                type: "POST",
                url: webMethod,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.d) {
                        //we logged off, so go back to logon page,
                        //stop checking messages
                        //and clear the chat panel
                        window.location.replace("login.html");
                        alert("Succesfully Logged Out"); 
                    }
                    else {
                        alert("Failed to log out"); 
                    }
                },
                error: function (e) {
                    alert("boo...");
                }
            });
        }
    </script>
    <div class="topnav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html">Edit</a></li>
            <div class="login-container">
            <li><a href="#" onclick="LogOff()">Logout</a></li>
            </div>
        </ul>
    </div>
    <div class="footer">
        <p>I Love Football Corporations &copy;</p>
    </div>
</body>
</html>
