<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../css/login_page.css"> 
    <style> html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <p class="sign" text-align=center>Sign in</p>
        <form id="form1" method="post" name="myform">
        <input id="username" type="text" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
        <a class="submit" onclick="login()">Sign in</a>
    </div>
    <div class="footer">
        <p>I Love Football Corporations &copy;</p>
    </div>
</body>
<!-- JAVASCRIPT BEGINS HERE -->
<script>
function login() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
}
</script>
</html>