 
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/suggestion_box_page.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suggestion Box</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">



        function AddPost() {
            //get my values
            var selection = document.getElementById("category");
            var category = selection.options[selection.selectedIndex].value;
            var content = document.getElementById("post").textContent;
            var anon = document.getElementById('anon').checked;
            var webMethod = "../../ProjectServices.asmx/AddPost";
            var parameters = "{\"content\":\"" + encodeURI(content) + "\",\"category\":\"" + encodeURI(category) + "\",\"isAnon\":\"" + encodeURI(anon) + "\"}";
            //jQuery ajax method
            $.ajax({
                type: "POST",
                url: webMethod,
                data: parameters,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    alert(msg.d);
                },
                error: function (e) {
                    var response = e.d;
                    alert("this code will only execute if javascript is unable to access the webservice." + response);
                }
            });
        }

        function LogOff() {
            var webMethod = "../../ProjectServices.asmx/LogOff";
            $.ajax({
                type: "POST",
                url: webMethod,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.d) {
                        window.location.replace("login.html");
                        alert("Succesfully Logged Out"); 
                    }
                    else {
                        alert("Failed to log out"); 
                    }
                },
                error: function (e) {
                    alert("boo...");
                }
            });
        }

        function LoadAllPosts(array) {
            alert(typeof(array))
            for (var i = 0; i < array.length; i++){
                ShowPost(array[i]);
            }
        }

        function ShowPost(post) {
            var postid = post.postid;
            var content = post.content;
            var likes = post.likes;
            var timestamp = post.timestamp;

            var user = post.user;

            var table = document.getElementById("suggestions");
            var row = table.insertRow(-1);
            row.innerHTML = `<div class="suggestion-tables" id="${postid}">
        <p>
            <p><strong>${user}</strong></p>
            <p class="date">${timestamp}</p> 
            ${content}
            <p class="count-likes">${likes} Likes</p> 
            <p class="buttons">
                <button onclick="javascript: LikePost();" style="font-size:20px;border-radius:0.25rem;">Like
                    <i class="fa fa-heart" style="font-size:20px;color:red;"></i></button>
                <button class="button" onclick="javascript: ReportPost();">Report</button>
            </p>
        </p> 
    </div>`;
        }
        function LikePost() {
            //code hereee
        }
        function ReportPost() {
            //codddeee
        }

        // Loads Post when page is opened
        window.onload = function () {
            $.ajax({
                type: "POST",
                url: "../../ProjectServices.asmx/GetPosts",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: 'json',

                success: function (data) {
                    LoadAllPosts(data.d);
                } 
            });
        }

    </script>
    <div class="topnav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html">Edit</a></li>
            <div class="login-container">
            <li><a href="#" onclick="LogOff()">Logout</a></li>
        </ul>
    </div>
    <!-- <li><img src="logo.png" ALT="some text" WIDTH=50 HEIGHT=40></li>  -->
    <div class="headers">
        <!-- Suggestion Box -->
    </div>
    <div class="container">
        <h3>Have a suggestion? Post it here!</h3>
        <div class="card">
            <!-- we need to put list of categories through database -->
            <p>
                Select category:
                <select id="category">
                    <option value="Suggestion">Suggestion</option>
                    <option value="Complaint">Complaint</option>
                    <option value="Other">Other</option>
                </select>
                <input id="anon" type="checkbox" value="true">Anonymous<br>
            </p>
            <p id="post" class="contents" contenteditable="true"></p>
        </div>
        <button class="button" onclick="javascript: AddPost();">Post It!</button>
    </div>

    <p class="selection">
        <input type="text" id="myInput" placeholder="Keyword">
        <select>
                <option value="suggestion">Suggestion</option>
                <option value="complaint">Complaint</option>
                <option value="other">Other</option>
        </select>
        <button class="button" onclick="javascript: SearchPost();">Search</button>
    </p>

    <table id="suggestions">
    </table>

    <div class="footer">
        <p>I Love Football Corporations &copy;</p>
    </div>
</body>
</html>

