<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/main.css"> 
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suggestion Box</title>
</head>
<body>
    <div class="topnav">
        <ul>
            <!-- <li><img src="logo.png" ALT="some text" WIDTH=50 HEIGHT=40></li>  -->
            <li><a href="dashboard.html">Home</a></li>
            <li><a href="suggestionbox.html">Suggestion Box</a></li>
            <li><a href="edit.html">Edit</a></li>
            <div class="login-container">
                <li><a href="login.html">Logout</a></li>
            </div>
        </ul>
    </div>
    <div class="headers">
        <!-- Suggestion Box -->
    </div>
    <div class="container">
        <h3>Have a suggestion? Post it here!</h3>
        <div class="card">
            <!-- we need to put list of categories through database -->
            <p>Select category: 
                <select>
                    <option value="category1">Category1</option> 
                    <option value="category2">Category2</option>
                    <option value="category3">Category3</option>
                </select>
                <input type="checkbox" value="true">Anonymous<br> </p>
            <p class="contents" contenteditable="true"></p>    
        </div>
        <button class="button">Post It!</button>
    </div>
    <div class="footer">
        <p>I Love Football Corporations &copy;</p>
    </div>
</body>
</html>